.App {
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 100vw;

  #container2 {
    display: flex;

  }

  /* &::-webkit-scrollbar {
     display: none;
   }*/

  .bg-image {
    background: linear-gradient(111.43deg, #01AFBA 0.95%, #56076D 90.85%);
  }

  .first-slide {
    background: url("images/photo.png") no-repeat;
    background-position: 70% 0;
    background-size: contain;

    @media (max-width: 1330px) {
      background-position:  40% 0;
      background-size: cover;
    }

    &_inner {
      max-width: 1333px;
      width: 100%;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  .box {
    width: 100vw;
    height: 100vh;
  }

  .second-slide {
    background: linear-gradient(89.92deg, #56076D 0.05%, #54E8BB 99.95%);

    &_inner {
      max-width: 1333px;
      padding: 0 20px;
      width: 100%;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .portfolio-first {
        display: flex;
        flex-direction: row;
        margin: 70px 0 0 0;
        @media (max-width: 500px) {
          flex-direction: column;
          margin: 0;
          padding: 30px 0;
        }

        &.revert {
          flex-direction: row-reverse;

          .portfolio-first_right {
            margin-right: 15%;
          }

          @media (max-width: 500px) {
            display: none;
          }
        }

        &_header {
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          text-transform: uppercase;
          margin: 0 0 20px 0;
        }

        &_description {
          font-size: 14px;
          line-height: 17px;
          margin: 0 0 84px 0;
          display: flex;
          flex-direction: column;
          max-width: 331px;
          width: 100%;
          @media (max-width: 500px) {
            margin: 0 0 30px 0;
          }
          a {
            color: white;
            text-decoration: none;
            margin: 10px 0 0 0;
          }
        }

        &_technologies-wrapp {
          margin: 6px 0 0 0;
        }

        &_technologies-inner {
          display: flex;
          flex-direction: row;
          margin: 0 0 20px 0;
        }

        &_technologies {
          font-size: 20px;
          line-height: 24px;
          margin: 0 0 10px 0;
          max-width: 240px;
          width: 100%;
        }

        &_technologies-long {
          max-width: 300px;
          width: 100%;
        }

        &_technologies-name {
          font-size: 14px;
          line-height: 17px;
          margin: 0 0 10px 0;
        }

        &_left {
          display: flex;
          flex-direction: column;
          max-width: 700px;
          width: 100%;
          margin-bottom: 40px;
        }

        &_right {
          display: flex;
          flex-direction: column;
          max-width: 700px;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .third-slide {
    background: linear-gradient(90deg, #54E8BB 0%, #56076D 100%);
  }

  .fourth-slide {
    background: linear-gradient(90.56deg, #56076D 0.35%, #01AFBA 99.67%);
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 86px 0 0 0;

    @media (max-width: 500px) {
      flex-direction: column;
      margin: 20px 0;
    }

    &_inner {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      @media (max-width: 500px) {
        margin-bottom: 30px;
      }
    }

    &_contact-info {
      display: flex;
      flex-direction: column;
      max-width: 275px;
      width: 100%;
    }

    &_speciality {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      margin: 0 0 15px 0;
      @media (max-width: 500px) {
        font-size: 32px;
      }
      @media (max-width: 375px) {
        font-size: 26px;
      }
    }

    &_name {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
    }

    &_contact-info {
      &_link {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        margin: 0 0 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_item {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin: 0 0 15px;
      }
    }
  }

  .main-technologies {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 500px) {
      flex-direction: row;
      max-width: 400px;
      width: 100%;
      flex-wrap: wrap;
      &_first-child{
        margin: 0 20px 5px 0;
      }
    }

    &_portfolio {
      font-weight: bold;
      font-size: 11vw;
      color: rgba(255, 255, 255, 0.08);
      margin: 0 0 86px 0;
      @media (max-width: 500px) {
        line-height: 20vw;
        padding: 0 20px;
        margin: 0 0 20px 0;
      }
    }

    &_header {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 15px 0;
    }

    &_header-item {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 10px 0;
    }

  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
